<IfModule mod_rewrite.c>
  RewriteEngine On
  # Redirigir todas las solicitudes a index.html
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]
  # Fallback a index.html para el enrutamiento de Angular
  RewriteRule ^ index.html [L]
</IfModule>
